{% extends '/nav.html.twig' %}

{% block titre %}Acceuil{% endblock%}


{% block content %}

    <div id="app">
        <nav aria-label="breadcrumb" style="margin-top: 4rem">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Tableau de bord</a></li>
                <li class="breadcrumb-item">Details</li>
                <li class="breadcrumb-item active" aria-current="page">Matrice des communications</li>
            </ol>
        </nav>

        <div class="row" style="margin-top: 3rem">
            <div class="col col-12">
                <h4>
                    Schema des communications
                </h4>
                <hr>
            </div>

            <div class="col col-12">
                <p class="card-subtitle">Ces numeros ont-ils communiqué entre eux?</p>
            </div>

            <div class="col col-12" style="margin-top: 1rem">
                <div class="row">
                    <div class="col col-5">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">Filtrer par date</span>
                            <input class="form-control" type="text" name="daterange" aria-describedby="basic-addon3"/>
                        </div>
                    </div>
                    <div class="col col-3">
                        <a href="{{ path('draw') }}" target="_blank" id="filter" class="btn btn-outline-info">Filtrer et Affichier</a>
                    </div>
                </div>
            </div>



        </div>
    </div>

{% endblock %}

{% block bottom_js %}
    <script  src="{{ asset('/build/js/sigma/schema-contact.js') }}"></script>
{% endblock %}